<h1>Welcome to {{ title }}</h1>

<!-- <p>There are {{ names.length }} people present.</p>

<form (ngSubmit)="addName()">
  <label for="">Enter a name</label>
  <input name="name" id="name" [(ngModel)]="newName"/>
  <button type="submit">Add new name</button>
</form>

<div *ngFor="let n of names; index as i">
  <p>{{ i }}. {{ n }}</p>
  <button (click)="changeTitle(n)">Click Me</button>
</div> -->

<div *ngIf="!displayEdit">
  <p>User name: {{user.name}}</p>
  <p>user age: {{user.age}}</p>
  <p>user favoriteColor: {{user.favoriteColor}}</p>
</div>

<div  *ngIf="displayEdit">
  <form >
    <label for="">enter a name</label>
    <input name="name" id="name" [(ngModel)]="user.name">
    <label for="">enter a age</label>
    <input name="age" id="age" [(ngModel)]="user.age">
    <label for="">enter a color</label>
    <input name="favoriteColor" id="favoriteColor" [(ngModel)]="user.favoriteColor">
  </form>
  
</div>
<button (click)="toggleEdit()">toggle edit</button>